In [21]:
import numpy as np 
import pandas as pd
import scipy . linalg
import math
from sklearn.impute import SimpleImputer
import pprint
from sklearn.linear_model import LinearRegression
import scipy.linalg as slg
import time

In [2]:
df = pd.read_csv('Life Expectancy Data.csv')

In [3]:
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [4]:
df1 = df.loc[:,'Life expectancy ':'Schooling']

In [5]:
df1

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [6]:
df1.isnull().sum()

Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [7]:
df2 = df1.dropna(axis = 0)
df2

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [8]:
df2.isnull().sum()

Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [9]:
df2

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [17]:
x = df2.iloc[:,1:19]      # col 1-7
y = df2.iloc[:,0] 
X = x.to_numpy()
Y = y.to_numpy()

---

### Linear Model

In [25]:
t = time.time()
lm = LinearRegression()
reg = lm.fit(X, Y)
reg.coef_
print(np.round_(time.time()-t, 3),'sec elapsed')  
print(reg.coef_)

0.003 sec elapsed
[-1.68885302e-02  9.36938378e-02 -5.43483450e-02  3.77682623e-04
 -5.58249970e-03 -8.61733822e-06  3.34980599e-02 -7.04701961e-02
  7.83637889e-03  7.97522211e-02  1.43889187e-02 -4.38298048e-01
  1.38327405e-05 -6.91652430e-10 -8.67022868e-03 -5.12278224e-02
  9.82414672e+00  8.78334955e-01]

---

### Lu Decomposition

In [26]:
t = time.time()
t = time.time()
beta_hat = np.linalg.solve(X.T.dot(X) ,X.T.dot(Y))   # beta hat given
print(np.round_(time.time()-t, 3),'sec elapsed')       # counts time
print(beta_hat)

0.012 sec elapsed
[ 1.16949136e-02 -2.65973810e-02 -6.55614012e-01  1.14157679e-03
  1.56864525e-02  7.17407513e-05  1.01582415e-01  2.28490539e-02
  6.33374545e-02  7.81959211e-01  8.21297691e-02 -5.38412234e-01
 -1.77152851e-04 -1.10846264e-08  4.91218517e-01  2.01070365e-01
  1.94089561e+01  2.72651951e+00]

---

### QR Decomposition

In [33]:
t = time.time() 
new_matrix = np.c_[X,Y] 
Qq , Rr = slg.qr(new_matrix, mode='economic')   
R = Rr[:-1,:-1]         # class_note
r = Rr[:-1,-1]
beta_hat2 = slg.solve(R,r)   # beta_hat
print(np.round_(time.time()-t, 3),'sec elapsed')  
pd.DataFrame(beta_hat2)

0.003 sec elapsed

               0
0   1.169491e-02
1  -2.659738e-02
2  -6.556140e-01
3   1.141577e-03
4   1.568645e-02
5   7.174075e-05
6   1.015824e-01
7   2.284905e-02
8   6.333745e-02
9   7.819592e-01
10  8.212977e-02
11 -5.384122e-01
12 -1.771529e-04
13 -1.108463e-08
14  4.912185e-01
15  2.010704e-01
16  1.940896e+01
17  2.726520e+00

---

In [34]:
def svd(X):
  n, m = X.shape
  U, Sigma, Vh = np.linalg.svd(X, 
      full_matrices=False,
      compute_uv=True)
  X_svd = np.dot(U, np.diag(Sigma))
  return X_svd

In [36]:
svd1 = svd(df2)

In [37]:
pd.DataFrame(svd1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-3.373649e+07,-150.008798,550.991829,-32.326710,258.694512,-11.088656,-57.269507,-3.463795,36.260145,-35.100165,-24.257176,4.273223,-7.098602,-9.815493,-3.480949,3.514365,0.911377,0.370181,0.015672
1,-3.275820e+05,-624.771493,-463.464369,-43.557414,297.945570,-67.733347,-37.148644,-1.874999,1.475817,-3.796258,-13.773023,5.376027,-5.832701,-11.474715,-3.538033,3.888817,1.437588,0.335709,0.042879
2,-3.173169e+07,-209.014107,1175.087128,-41.669450,280.305325,-22.530184,-37.448891,-4.080453,-0.250297,-2.383857,-13.262202,4.150721,-5.997321,-11.778885,-3.425832,3.835557,1.280307,0.280056,0.039990
3,-3.696958e+06,-686.651457,-2587.526366,-41.356705,292.849859,-54.489611,-32.282573,-5.963446,-2.124976,-0.989062,-10.998958,4.636579,-5.926059,-12.208834,-3.554067,4.261651,1.317953,0.199840,0.038875
4,-2.978599e+06,-91.386958,-2863.094185,-26.118631,301.265522,-57.061163,-30.320033,-6.750270,-2.415255,-0.851427,-10.380191,3.924829,-5.943866,-12.604617,-3.611076,3.635563,1.104393,0.246342,0.039998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,-1.277751e+07,-277.227234,617.696066,-128.212494,661.773623,38.736273,-282.495523,5.272165,6.394575,6.758067,14.121562,4.750010,-12.985080,9.255954,0.688440,0.046201,-0.465584,0.287036,0.016767
1645,-1.263390e+07,-299.318498,-356.111582,-120.346631,620.061971,37.378055,-329.065416,36.009520,5.920544,-46.098702,8.434822,3.953699,-17.821313,10.217685,0.810492,-0.443974,-0.071285,0.584857,0.001718
1646,-1.255250e+05,-62.803831,-297.178146,-23.629993,135.869322,-20.825761,76.501664,-10.772234,-1.771482,4.557909,11.659446,-5.955309,-28.635114,25.028765,6.729142,-1.391233,-0.888998,-0.178740,-0.091247
1647,-1.236617e+07,-387.161997,101.327759,-138.322005,633.610103,44.067846,-252.828939,-0.976818,3.421425,6.444952,19.747685,2.769935,-13.598629,20.734980,8.521040,-2.092000,-0.147882,0.147051,-0.010338
1648,-1.222225e+07,-409.077115,-859.606866,-134.418416,614.805456,49.674643,-238.804808,-4.395903,2.481935,5.679716,17.576335,2.768953,-23.569155,12.714098,4.554941,-0.950140,-0.084356,0.119223,0.023668

In [90]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.datasets import make_classification
from sklearn import preprocessing
from sklearn import utils

In [105]:
pd.DataFrame(Y)

         0
0     65.0
1     59.9
2     59.9
3     59.5
4     59.2
...    ...
1644  44.3
1645  44.5
1646  44.8
1647  45.3
1648  46.0

[1649 rows x 1 columns]

In [106]:
c = [0]*649 + [1]*1000

In [107]:
train_df , test_df , y_train , y_test = train_test_split(X,c,test_size=0.2,random_state=42)

In [108]:
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y_train)

In [109]:
print(utils.multiclass.type_of_target(y_train))

binary

In [110]:
print(utils.multiclass.type_of_target(y_train.astype('int')))

AttributeError: 'list' object has no attribute 'astype'

In [111]:
print(utils.multiclass.type_of_target(encoded))

multiclass

In [112]:
pd.DataFrame(y_train)

      0
0     0
1     0
2     1
3     1
4     1
...  ..
1314  1
1315  1
1316  1
1317  1
1318  1

[1319 rows x 1 columns]

In [113]:
pd.DataFrame(train_df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,263.0,40.0,1.64,225.221947,91.0,120.0,26.1,58.0,91.0,4.81,91.0,1.3,1574.978653,25121796.0,6.9,6.8,0.554,10.9
1,138.0,12.0,7.81,470.186915,66.0,0.0,55.1,13.0,94.0,8.31,93.0,0.1,2579.193168,3788937.0,1.2,1.0,0.776,16.3
2,133.0,11.0,4.29,516.403702,93.0,0.0,5.2,15.0,93.0,4.60,93.0,0.3,3611.214700,28292724.0,1.2,1.2,0.696,13.2
3,632.0,30.0,3.56,20.843429,75.0,0.0,28.6,46.0,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
4,194.0,17.0,5.92,176.062520,95.0,7319.0,19.4,20.0,97.0,3.32,96.0,0.8,1893.145377,63543322.0,9.3,9.6,0.649,11.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,179.0,365.0,0.03,40.368300,78.0,7641.0,19.5,458.0,77.0,3.40,78.0,0.1,873.772727,15793993.0,21.0,21.5,0.501,6.5
1315,21.0,0.0,4.13,11.136087,98.0,0.0,26.2,0.0,99.0,6.65,98.0,0.9,199.571460,17813.0,6.3,6.2,0.533,10.1
1316,192.0,0.0,12.40,1446.529217,95.0,0.0,59.7,0.0,98.0,7.53,98.0,0.1,11837.391300,3162916.0,2.8,2.9,0.825,16.6
1317,162.0,11.0,5.92,609.951163,98.0,7790.0,25.7,13.0,99.0,3.92,99.0,0.3,4378.687460,6654576.0,8.5,8.6,0.700,12.9
1318,172.0,372.0,0.04,0.667515,82.0,4321.0,21.9,461.0,82.0,3.20,82.0,0.1,14.142268,1756182.0,2.2,2.7,0.521,7.5

In [114]:
test_df

array([[1.900e+01, 1.540e+02, 6.000e-02, ..., 1.700e+00, 6.380e-01,
        1.100e+01],
       [1.320e+02, 1.000e+00, 9.300e+00, ..., 2.400e+00, 7.430e-01,
        1.350e+01],
       [8.600e+01, 3.000e+00, 1.183e+01, ..., 1.100e+00, 8.770e-01,
        1.640e+01],
       ...,
       [3.690e+02, 5.000e+01, 1.000e-02, ..., 5.900e+00, 4.960e-01,
        1.040e+01],
       [2.190e+02, 0.000e+00, 1.000e-02, ..., 1.650e+01, 5.890e-01,
        1.260e+01],
       [3.730e+02, 5.400e+01, 5.890e+00, ..., 6.300e+00, 4.730e-01,
        9.200e+00]])

In [122]:
svc = SVC()
svc.fit(train_df, y_train)
pred_svd = svc.predict(test_df)

In [123]:
print(classification_report(y_test, pred_svd))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       146
           1       0.56      1.00      0.72       184

    accuracy                           0.56       330
   macro avg       0.28      0.50      0.36       330
weighted avg       0.31      0.56      0.40       330

C:\Users\daizi\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\daizi\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\daizi\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))